<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furnitures</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>

    <nav>
        <span class="logo"><img src="./../../assets/img/cric.jpg" alt="Logo"></span>
        <span class="cricket-mania">Cricket Mania</span>
       
        <a href="main">Home</a>
        <a href="login">Login</a>
        <a href="http://127.0.0.1:5000/">Prediction</a>
        
        
    </nav>
    <router-outlet></router-outlet>
    

</body>
</html>